body{
    background-image: url(/img/Fondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
#contenedor{
    background-color: rgba(119, 117, 104, 0.167);
    backdrop-filter: blur(2px);
}
#caja{
    background-color: #F4F0E2;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0.5em 0.5em 1em #5a3a1b;
}
#imgUsuario{
    width: 100px;
    height: 80px;
}
#inputGroupPrepend{
    background-color: #f29a49;
}
.btn{
    background-color: #C37832;
    border: none;
}