nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#121731 80%, rgba(255, 255, 255, 0));
    padding: 1em 1em 2.2em 0em;
    z-index: 1000;
}

#logo {
    margin-left: 1em;
    transition: 0.5s;

    &:hover {
        scale: 1.5;
    }
}

#btnNav {
    border-radius: 15px;
    transition: 0.5s;
    margin-left: 0.5em;

    &:hover {
        background-color: rgba(255, 255, 255, 0.49);
        box-shadow: 0PX 0PX 6px white;
    }
}

/*--------------------------------------------------*/
main {
    margin-top: 5em;
    padding-top: 2em;

    background-image: url(/assets/BackgroundMain.png);
    background-repeat: no-repeat;
    background-position: unset;
    background-size: cover;
    background-attachment: fixed;
}

#inicio {
    color: #f5f5f5;
    padding: 1em 0em 5em 1em;
}

#inicio h2 {
    font-size: 60px;
    padding-right: 7em;
}

#inicio h1 {
    color: #ff8808;
    text-shadow: 2px 2px 1.5px white;
    font-weight: bolder;
}

#inicio button {
    margin-left: 1em;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;

    background-color: rgba(255, 255, 255, 0.393);
    backdrop-filter: blur(5px);
    font-weight: bolder;
    color: whitesmoke;

    transition: 0.5s;

    &:hover {
        color: #ff8808;
        background-color: white;
        box-shadow: 3px 3px 10px #03071e;
        scale: 1.2;
    }
}

#cuerpo {
    background-color: white;
}

#cuerpo h1 {
    padding: 3em 1em;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    color: #d00000;
}

#info {
    margin-left: 0.5em;
}

#info .card {
    border: none;
    background-color: whitesmoke;
    height: 340px;
    padding: 1em;
    align-items: center;

    transition: 0.5s;

    &:hover {
        scale: 1.1;
        background-color: #b9b9b99f;
    }
}

#info .card-img-top {
    height: 40%;
}

#favoritos {
    padding: 1em 2em;
    background-color: whitesmoke;
}

#favoritos h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 1em;
}

#favoritos .col-4 {
    text-align: center;
}

#favoritos img {
    width: 98%;
    align-self: center;
}

#favoritos button {
    margin: 1em;
    height: 60px;
    width: 250px;
    border-radius: 10px;
    border: none;

    background-color: #ff8808;
    font-size: larger;
    font-weight: bolder;
    color: whitesmoke;

    transition: 0.5s;

    &:hover {
        scale: 1.1;
        background-color: #ff8808e7;
        box-shadow: 4px 4px 20px #03071edb;
    }
}


#especialidad {
    text-align: center;
    padding: 1em 0em 1em 3em;
    align-items: center;
}

#especialidad h2 {
    font-weight: bolder;
    color: #ff8808;
    margin: 1em 0em;
}

#especialidad img {
    width: 400px;
}

#delivery {
    background-image: url(/assets/BackgroundDiv.png);
    background-size: cover;
    background-position: bottom;

    margin-top: 1em;
    margin-left: 0em;
    padding: 4em;
    padding-left: 40em;

    text-align: center;
}

#delivery button {
    height: 3em;
    border-radius: 10px;
    border: none;

    font-weight: bolder;
    font-size: larger;
    color: #ff8808;
    background-color: white;

    transition: 0.5s;

    &:hover {
        box-shadow: 3px 3px 10px #03071e;
        text-decoration: underline #ff8808;
        scale: 1.2;
    }
}


footer {
    position: absolute;
    width: 100%;
    background-color: #121731;
    padding: 1em 2.5em;
    z-index: 1000;
}